<!DOCTYPE html>
<html>
  <head>
    <title>Astro Music Library: Home</title>
    <style type="text/css">
        h2.categories
        {
            color:red;
            text-align:left;
        }
        body {
            background-color: #d2b48c;
            margin-left: 20%;
            margin-right: 20%;
            border: 1px dotted gray;;
            padding: 10px 10px 10px 10px
            font-family: sans-serif;
        }

    </style>
  </head>
  <body>
    <h1> Welcome to Astro Music Library</h1>
    <img src="https://c9.io/sunithamisra/astro/workspace/views/IMG_3446.JPG" height="100" width="150" itemprop="image"/>
    <h2 class=categories>Click to navigate </h2>
  
    <a href="/"><h1>Astro Music</h1></a>
    <div itemscope itemtype="http://schema.org/MusicPlaylist/MusicAlbum">
      <a href="/albums/"><h2>Astro Albums</h2></a>
    </div>
    <div itemscope itemtype="http://schema.org/MusicAlbum/byArtist">
      <a href="/artists/"><h2>Astro Artists</h2></a>
    </div>
    <!--<div itemscope itemtype="http://schema.org/MusicAlbum/genre">
      <a href="/genre/"><h2>Astro Genre</h2></a>
    </div>-->
    <div itemscope itemtype="http://schema.org/MusicPlaylist">
      <a href="/playlist/"><h2>Playlist</h2></a>
    </div>
  </body>
</html>
