<!DOCTYPE html>
<html>
  <head>
    <title>Astro Music: Artists</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>ASTRO MUSIC - Artists</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a href="/artists/<%=item._id%>"><%=item.name%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No Artists have been added.</div>
    <% } %>
    <div class="control">
      <h2>Add or update a new Artist</h2>
      <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        return true;
      } 
      </script>
      <form method="post" action="/artists/"
            onsubmit="return onFormSubmit(this);">
        <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Artist ID<br>
          (lowercase letters and digits, no spaces):
          <input name="item[id]" type="text" pattern="[a-z,0-9]+" required
                 placeholder="Kenny G">
        </label>
        <label>Artist name: 
          <input name="item[name]" type="text" required
                 placeholder="Kenny G">
        </label>
        <label>Artist description:
          <textarea name="item[description]" cols="80" rows="10" 
                    placeholder="Clarinet Artist."
          ></textarea>
        </label>
        <button>Add or update</button>
      </form>
    </div>
  </body>
</html>
